body{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Comfortaa', cursive;
  background-color: rgb(151, 199, 255);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: white;
}